<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Control Empresas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active" *ngIf="this._empresaService.getIdentidad().username==undefined">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/registrar" routerLinkActive="active" *ngIf="this._empresaService.getIdentidad().rol=='ROL_ADMIN'">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/inicio" routerLinkActive="active" *ngIf="this._empresaService.getIdentidad().rol=='ROL_EMPRESA'">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/empleado" routerLinkActive="active" *ngIf="this._empresaService.getIdentidad().rol=='ROL_EMPRESA'">Empleado</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/empleadolista" routerLinkActive="active" *ngIf="this._empresaService.getIdentidad().rol=='ROL_EMPRESA'">Empleado Lista</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/productos" routerLinkActive="active" *ngIf="this._empresaService.getIdentidad().rol=='ROL_EMPRESA'">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/productolista" routerLinkActive="active" *ngIf="this._empresaService.getIdentidad().rol=='ROL_EMPRESA'">Producto Lista</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/graficas" routerLinkActive="active" *ngIf="this._empresaService.getIdentidad().rol=='ROL_EMPRESA'">Graficas</a>
                </li>
            </ul>
            <div class="d-flex" *ngIf="_empresaService.getIdentidad()">
                <img *ngIf="_empresaService.getIdentidad().imagen" [src]="this.url + 'obtenerImagen/' +_empresaService.getIdentidad().imagen" class="user-image">

                <img class="nav-link" routerLink="/cuenta" routerLinkActive="active" *ngIf="_empresaService.getIdentidad().imagen === null" src="/assets/man.png" class="user-image">
                <a class="nav-link" routerLink="/cuenta">{{ _empresaService.getIdentidad().username}}</a>

            </div>
            <div><img class="nav-link" routerLink="/login" routerLinkActive="active" src="/assets/logout.png" class="user-image" *ngIf="this._empresaService.getIdentidad().username!=undefined" (click)="cerrarSesion()"></div>

        </div>
    </div>
</nav>