<!doctype html>
<html lang="en">
<div class="container" class="bg-primary">
    <div class="row justify-content-md-center" class="bg-primary">
        <div class="col col-lg-5">
            <form class="box">
                <div class="mb-3">
                    <h1>Ingresar Empleados</h1>
                    <img class="avatar" src="assets/gerente.png">
                    <input type="username" class="form-control" id="exampleInputUsername1" aria-describedby="username" name="username" #username="ngModel" [(ngModel)]="modeloAgregarUsuario.username">
                    <div id="emailHelp" class="texto">Ingresa su Nombre</div>
                </div>
                <div class="mb-3">
                    <input type="puesto" class="form-control" id="exampleInputPuesto1" aria-describedby="puesto" name="puesto" #puesto="ngModel" [(ngModel)]="modeloAgregarUsuario.puesto">
                    <div id="emailHelp" class="texto">Ingresa su puesto</div>
                </div>
                <div class="mb-3">
                    <input type="departamento" class="form-control" id="exampleInputDepertamento1" aria-describedby="departamento" name="departamento" #departamento="ngModel" [(ngModel)]="modeloAgregarUsuario.departamento">
                    <div id="emailHelp" class="texto">Ingresa su departamento</div>
                </div>
                <header><button type="reset" style="margin-left:22px" class="btn btn-primary" (click)="registroEmpleado()">Guardar</button><button type="submit" type="reset" class="btn btn-primary" style="margin-left:22px" routerLink="/empleadolista" routerLinkActive="active">Ver Empleados</button></header>
            </form>
        </div>
    </div>
</div>

</html>